.margin-top {
	margin-top: 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}


.margin-top-half {
	margin-top: 0.5em;
}

label {
	font-variant: petite-caps;
	font-weight: 400;
}

body {
	font-weight: 300;
}